.btn-group
  +clearfix
  input
    width: auto !important
  input + input,
  a + a
    margin-left: -2px
.center-block, .spacing-block
  input + input
    margin: 0 10px
  input
    margin-left: 10px

//Inline form
.inline-grop
  +clearfix
  input
    width: auto !important
  a + a, input + a
    margin-left: -2px
  
//Horizontal form
.control-group
  margin-bottom: 10px
  margin-top: 10px
  +pie-clearfix
  
.control-label
  float: left
  width: 16%
  text-align: right
  padding-right: 10px

.controls
  padding-left: 10px
  margin-left: 17%
  border-left: 1px solid $labelLine
.cont_tab4
  .control-group
    padding: 10px
    &:hover
      background-color: #f7f7f7
.controls
  position: relative
  .remove
    display: none
  &:hover
    .remove
      @extend %ir
      position: absolute
      top: -16px
      right: -16px
      +size(32px)
      background-image: url('../admin/images/icon-remove.png')
      background-position: center
      display: block
      +border-radius(100%)
      background-color: #fff