.gitignore
*.scssc
*.sassc
file_tree.txt
fire_app_log.txt
doc/
source/ICON

source_code/admin/fire_app_log.txt
source_code/admin/.sass-cache

source_code/admin/css/*.css
source_code/admin/stylesheets/*.css