// ------------------------------------------------------------
// 管理介面題型選擇區塊
// ------------------------------------------------------------

.masthead
	background-color: lighten($colorBelizeHole, 45)

	.masthead__inner
		position: relative
		@extend .units-split
		@extend %static-container
		@extend %cont
		@extend .units-row-end

	.masthead__head
		vertical-align: top
		@extend .unit-20
		@include autoheight
		&:before
			border-right: 1px solid lighten($colorBelizeHole, 35)
			right: 0
			left: auto

	.masthead__content
		@extend .unit-80

	.masthead__title
		background: url(#{$l2}/icon-edit.png) no-repeat left center
		height: $styleMenuHeight
		line-height: $styleMenuHeight
		padding-left: $styleMenuHeight
		color: $black-60

/* reset .control-label 與 .controls */
.masthead
	.control-group
		width: 100%
	.control-label
		line-height: $styleMenuHeight
		margin-bottom: 0
		@extend %text-centered
	.controls
		margin-left: 10%