.trtable_wrapper
	width: 1000px
	height: 400px
	overflow-x: auto
	overflow-y: auto

.trtable
	// 與主樣式衝突
	margin: 0
	// border: 1px solid $black-30
	th
		//background-color: $black-10

	th, td
		text-align: center
		vertical-align: middle
		padding: 0
		
	th , td
		span
			display: block
			padding: 15px
	td
		// 答題正確
		background-color: lighten(nth($successColor, 2), 5%)
		color: lighten(nth($successColor, 1), 30%)
		border-color: $white
		vertical-align: middle
		// 答題錯誤
	.error
		background-color: darken(nth($errorColor, 2), 3%) 
		color: lighten(nth($errorColor, 1), 30%) 
	th
		background-color: $white
		&.th-title
			background: darken($white, 7)
		span
			white-space: nowrap
	.no
		background: darken($white, 7)
	.percentage, .percentage-title
		color: $white
		background: $barColor1
		// @include background-image(linear-gradient( $barColor1 50%, $barColor2 50%))
		line-height: 1

// 測驗卷列表 - 表頭固定
thead.tb_fixed.fixed, .row.tb_fixed.fixed
	position: fixed
	top: 86px
	z-index: 2

.row.tb_fixed.fixed
	top: 40px
	width: 1000px
	padding: 10px 0 5px 0
	background-image: radial-gradient(at 50% top, rgba(1, 68, 177, 0.6) 0%, rgba(77, 144, 254, 0) 75%), radial-gradient(at right top, #404096 0%, rgba(43, 26, 57, 0.8) 57%)
	background-color: #0144b1

thead.fixed
	width: 1000px
	th
		padding: 0 1.8em

// 測驗卷管理 - 表頭按鈕
.mg-l_5
	margin-left: 5px