<div id="head_area">
	<div id="head">
		<h1 id="logo"><a href="admin_main.html">E-Library管理後台</a></h1>
		<div id="head_nav">
			<ul>
				<li>歡迎光臨！&nbsp;測試人員&nbsp;您好！<a href="#">帳號登出&nbsp;|</a></li>
				<li><a class="fancybox fancybox.iframe" href="settings.html">帳號設定</a>&nbsp;|</li>
				<li><a href="about.html">關於我們</a>&nbsp;|</li>
				<li><a href="help.html">服務說明</a>&nbsp;|</li>
				<li><a href="http://cms.edupal.com.tw:8080/cms/docs/Shuttle_Elibrary_Admin_User_Guide.pdf">使用手冊</a></li>
				<li><a href="#" class="lang">E</a></li>
				<li><a href="#" class="lang">繁</a></li>
				<li><a href="#" class="lang">簡</a></li>
				<li><a href="#" class="lang"><img src="images/admin2.png"/></a></li>
			</ul>
		</div>
	</div>
</div>