meta charset="UTF-8"

/ 如果頁面有設定 title 則顯示該 title
- if (yield :title)
	= yield :title
/ 否則顯示浩學圖書館數位圖書館
- else
	title = data["site-title"]

link rel="stylesheet" type="text/css" href="vender/fixed-header-table/css/defaultTheme.css"
link rel="stylesheet" type="text/css" href="css/vendor.css"
link rel="stylesheet" type="text/css" href="css/admin.css"
link rel="stylesheet" type="text/css" href="css/screen.css"
/![if lte IE 7]
	link rel="stylesheet" type="text/css" href="css/ie7.css"
script src="scripts/jquery-1.9.0.min.js"
script src="vender/fixed-header-table/jquery.fixedheadertable.min.js"
script src="scripts/jquery.fancybox.js"
script src="vender/jquery-validation/dist/jquery.validate.min.js"
script src="vender/jquery-validation/dist/additional-methods.min.js"
script src="scripts/admin_menu.js"
script src="scripts/script.js"