<div class="menu_wrap">
  <div id="menu_area">
    <div id="menu_bar">
      <ul id="menu">
        <li><a href="#">圖書管理</a>
          <ul class="sub_menu">
            <li><a href="admin_ebook_main.html">版權書管理</a></li>
            <li><a href="ebook_free_main.html">自有版權書管理</a></li>
          </ul>
        </li>
        <li><a href="#">閱讀歷程</a></li>
        <li><a href="#">數位電子內容管理平台</a>
          <ul class="sub_menu">
            <li><a href="ebook_main.html">電子書維護</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>