<div id="cont_area">
	<div id="cont">
		<div class="breadcrumbs mb10">目前位置：南門國中圖書館管理後台</div>
		<div id="side_box">
			<div class="side_tab">
				<h2><div class="icon01"></div>帳號資訊</h2>
				<div class="pd10">
					測試人員您好<br>
					登入身份：出版商<br>
					電子信箱：testbook@gmail.com<br>
					啟用日期：2013/04/19
				</div>
			</div>
			<div class="side_tab">
				<h2><div class="icon02"></div>服務專線</h2>
				<div class="pd10">
					客服專線：(02)1234-5678<br>
					傳真電話：(02)1234-7895<br>
					客服信箱：<a href="mailto:ask@tw.shuttle.com">ask@tw.shuttle.com</a>
				</div>
			</div>
		</div>
		<div id="cont_box">
			<div class="cont_tab">
				<h2><div class="icon04"></div>最新消息</h2>
				<ol>
					<li><em>2013/10/28</em><a href="#">本季賀全台銷售突破100萬電子書</a></li>
					<li><em>2013/10/27</em><a href="#">本季賀全台銷售突破100萬電子書</a></li>
					<li><em>2013/10/26</em><a href="#">本季賀全台銷售突破100萬電子書</a></li>
					<li><em>2013/10/25</em><a href="#">本季賀全台銷售突破100萬電子書</a></li>
					<li><em>2013/10/24</em><a href="#">本季賀全台銷售突破100萬電子書</a></li>
				</ol>
			</div>
			<div class="cont_tab">
				<h2><div class="icon03"></div>系統公告</h2>
				<ol>
					<li><em>2013/10/28</em><a href="#">本季賀全台銷售突破100萬電子書</a></li>
					<li><em>2013/10/27</em><a href="#">本季賀全台銷售突破100萬電子書</a></li>
					<li><em>2013/10/26</em><a href="#">本季賀全台銷售突破100萬電子書</a></li>
					<li><em>2013/10/25</em><a href="#">本季賀全台銷售突破100萬電子書</a></li>
					<li><em>2013/10/24</em><a href="#">本季賀全台銷售突破100萬電子書</a></li>
				</ol>
			</div>
		</div>
		<div class="clearb"></div>
	</div>
</div>
