#cont_area
	#cont
		|  <div class="breadcrumbs">目前位置：圖書管理&nbsp;&gt;&nbsp;自有版權書管理&nbsp;&gt;&nbsp;測驗&nbsp;&gt;&nbsp;(<a href="ebook_free_main.html">回上一頁</a>)</div>
		form enctype="multipart/form-data" method="post" 
			.cont_tab2
				h2
					span.icon04
					| 測驗
				.pd2040
					.is-table
						.control-group
							.control-label 共有500道題目
							.controls
								input.btn.btn-blue onclick="javascript:location.href='subject_edit.html'" type="button" value="測驗頁面"
					.is-table
						.control-group
							label.control-label 測驗卷名稱
							.controls
								input.width-70 type="text" placeholder="測驗卷名稱"
								input.btn.btn-blue type="button" value="搜尋"
			
			.cont_tab3.clearb
				.row
					.fl
						span.caption
							| 共有
							em 210
							| 張測驗卷，其中
							em 100
							| 張已測驗過。
					.fr
						input.btn.btn-blue onclick="javascript:location.href='quiz_tf_null.html'" type="button" value="新增題目"
						input.btn.btn-blue.mg-l_5 onclick="javascript:location.href='exam_paper_list_null.html'" type="button" value="新增測驗卷"
				table.table cellpadding="0" cellspacing="1" width="100%" 
					tr
						/! /2014-11-17 移除表格 td 寬度
						th width="38%"  測驗卷名稱
						th  題數
						th  平均正確率
						th  建立日期
						th  測驗日期
						th  功能
						/!  2014-11-17 移除表格 td 寬度/
					- (1..10).each do |n|
						tr
							td.text-left
								=zh_lorem_words 40
							td
								| 是非題：5題
								br 選擇題：6題
							td
								| 78%
							td
								=lorem_date("%Y-%m-%d %H:%M", 2014..2014)
							td
								=lorem_date("%Y-%m-%d %H:%M", 2014..2014)
							td
								a href="#"  修改
								br
								a href="#"  檢視
								br
								a href="#"  統計
				// paginatio
				== render "partials/components/paginatio"
		.clearb