#cont_area
	#cont
		form enctype="multipart/form-data" method="post" 
			
			.cont_tab2
				h2
					span.icon04
					| 匯入題目
				.pd2040
					.alert-block.alert--info
						| 共選取5題
					.fr
						/! 2013-09-23
						a.btn.btn-blue<> href="javascript:;" 匯入
						a.btn.btn-red<> href="javascript:;" onclick="history.back()" 取消
			#quizs.quizs_ans
				ol
					/! 選擇題
					li
						h3
							=zh_lorem_words 45
							/! 如果有圖片的話
							.q_pic
								= image_tag(lorem_image("150x150"))
						ul
							li
								span A
								.q_topic
									/! 如果是圖片的話
									.q_pic
										= image_tag(lorem_image("150x150"))
							li
								span B
								.q_topic
									p =zh_lorem_sentences 1
									/! 如果有圖片的話
									.q_pic
										= image_tag(lorem_image("150x150"))
							li
								span C
								.q_topic
									p =zh_lorem_sentences 1
							li
								span D
								.q_topic
									p =zh_lorem_sentences 1
							li
								span E
								.q_topic
									p =zh_lorem_sentences 1
							li
								span F
								.q_topic
									p =zh_lorem_sentences 1

					/! 是非 T F
					li
						h3 =zh_lorem_words 45
						ul
							li
								span T
							li
								span F