#cont_area
	#cont
		|  <div class="breadcrumbs">目前位置：圖書管理&nbsp;&gt;&nbsp;自有版權書管理&nbsp;&gt;&nbsp;測驗&nbsp;&gt;&nbsp;(<a href="ebook_free_main.html">回上一頁</a>)</div>
		form enctype="multipart/form-data" method="post"
			/! 2014-09-23 更動
			/! 2014-09-23 更動/
			.cont_tab2
				h2
					span.icon04
					| 題目管理
				.pd2040
					.is-table
						.control-group
							label.control-label 題型
							.controls
								select.select
									option
									option value="0"  是非
									option value="1"  選擇
					.is-table
						.control-group
							label.control-label 題目
							.controls
								input.width-50 type="text" 
								input.btn.btn-blue<> type="button" value="搜尋"
			.cont
				.row
					.fl
						span.caption
							| 題庫內共有
							em 500
							| 道題目，其中
							em 450
							| 道已作答過。
					.fr
						a.btn.btn-blue<> href="quiz_creat.html" 新增
						input.upload-fiie--excel type='file'
						a.btn.btn-blue.insert_excel<> href="javascript:;" 匯入
						/! 2014-09-23
						/! 如果內容有誤
						a#trigger-alert.btn.btn-blue.fancybox.alert style="display:none"; href="#alert" 匯入
						/! <script type="text/javascript">document.getElementById('trigger-alert').click();</script>
						/! 如果內容有誤/
						a<> class="btn btn-blue fancybox fancybox.iframe afb" href="quiz_export_pop.html" 匯出
						/! 2014-09-23
						a<> class="btn btn-blue fancybox fancybox.iframe afb" href="subject_edit_pop.html" 設定
						/! 2014-09-23/
				table.table-02
					thead
						tr
							th width="5%"  序號
							th width="10%"  題型
							th width="43%"  題目名稱
							th width="16%"  建立日期
							th width="16%"  最新作答日期
							th width="10%"  功能
					tbody
						- (1..5).each do |n|
							tr
								td.text-centered
									| #{n}
								td.text-centered
									| 選擇題
								td.text-l
									=zh_lorem_words 25
								td.text-centered
									=lorem_date("%Y-%m-%d %H:%M", 2014..2014)
								td.text-centered
									=lorem_date("%Y-%m-%d %H:%M", 2014..2014)
								td.text-centered
									a href="#"  檢視
									br
									a href="#"  刪除
						- (6..10).each do |n|
							tr
								td.text-centered
									| #{n}
								td.text-centered
									| 選擇題
								td.text-l
									/! 如果有圖片
									=zh_lorem_words 25
									= image_tag(lorem_image("156x123"))
								td.text-centered
									=lorem_date("%Y-%m-%d %H:%M", 2014..2014)
								td.text-centered
									=lorem_date("%Y-%m-%d %H:%M", 2014..2014)
								td.text-centered
									a href="#"  檢視
									br
									a href="#"  刪除
				// paginatio
				== render "partials/components/paginatio"
		.clearb
/! 2014-09-23
/! 如果內容有誤
/ .fancybox
#alert.warning style="display:none"
	strong.strong 檔案內容有誤！
	.block.center-block
		a.btn.brn-blue onclick="javascript:parent.jQuery.fancybox.close();" href="javascript:;" OK
/! 如果內容有誤/