// 00 layout
@import "parts/layout";
// 01 head
@import "parts/head";
// 02 menu
@import "parts/menu";
// 03 cont
@import "parts/cont";
// 04 foot
@import "parts/foot";
// part
@import "parts/newsbox";
@import "parts/icon";
.clearb{clear:both}
.fixed{position:fixed;top:0}
.backtop{width:60px;line-height:40px;text-align:center;position:fixed;bottom:110px;right:0;cursor:pointer}