// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "libs/required"
@import "libs/reset"
@import "libs/variables"
@import "libs/mixins"

@import "libs/settings"


// ::Base styles
// ------------------------------------------------------------

html
	//font-size:		100%

body
	font-size:		$baseFontSize / 16 * 1em
	line-height:	$baseLine / $em
	font-family:	$baseFontFamily
a
	color: $action
	text-decoration: none
	+link-active-styles
		// Mixin for interactions (hover,focus,active)
		color: $actionRespond

img
	background: $transparent url(#{$l2}/loading.gif) no-repeat 50% 50%

// ::Import styles
// ------------------------------------------------------------
// Base level typography
// @import "libs/typography"
// Tables
@import "libs/tables"
// // Lists
// @import "libs/lists"
// // Forms
@import "libs/forms"
// Images
// @import "libs/images"
// Grid system
@import "libs/grid"


// ::Component
// ------------------------------------------------------------
// // Navs
// @import "libs/navs"
// // Messages
// @import "libs/messages"
// // Labels
// @import "libs/labels"
// Button
@import "libs/buttons"
// // Blocks
// @import "libs/blocks"


// ::Modules
// ------------------------------------------------------------

// @import "libs/reset_forms"
// @import "libs/reset_tables"

// ::Helpers
// ------------------------------------------------------------
@import "libs/helpers"
// @import "libs/colors"


// ::Page Styles
// ------------------------------------------------------------
@import "modules/pagination"
@import "modules/masthead"
@import "modules/alert"
@import "modules/quiz_list_style"
@import "modules/chart_bar"
@import "modules/quiz_add_subject"
@import "modules/admin_fancybox"
@import "modules/component_btn"
@import "modules/tr_table"

//
%cont, .cont
	padding: 20px 0
	position: relative
	@extend .units-container

.content-block, %content-block
	background-color: $black-0
	@extend %cont

.table-bordered
	background-color: $black-0

.is-table + .is-table
	margin-top: 10px

/* import master */
// 先暫時放一下
@import "master"

// 解決.control-group .control-label .controls 組件定位
.dt
	display: table
	width: 100%

.container
	// background-color: darken($black-0, 3)
	@extend %cont

.test
	position: relative
.eptitle
	font-size: 18px
.quiz_total
.test
	padding-left: 20px
	// 超靠北結構
	dl
		> *
			display: inline-block !important
			&:nth-child(1):after , &:nth-child(2):after
				content: "/"
				display: inline-block
				margin: 0 5px
			&:nth-child(1):after
				content: "/"
				display: inline-block
				margin: 0 5px
			&:nth-child(3)
				border-right: 1px solid #ddd
				margin-right: 20px
				&:after
					content: ""
					display: inline-block
					margin: 0 5px
	dt
		@extend %fl

	span
	input

.cont
	width: 1000px
	margin: 0 auto

.row
	+pie-clearfix
	margin-bottom: 5px
.row + .row
	margin-top: 5px
// 合併進 > #head, #menu_bar, #cont, #foot

.a_btn_c2
	@extend %pie-clearfix
.cont_tab4
	background-color: $black-0
	margin-bottom: 10px


.control-label.title
	float: none
	text-align: right
	clear: both
	margin: 20px 0

.pd2020
	padding: 20px

.pd2040, .pd2020
	@extend %pie-clearfix
// temp

// 待合併組件

.a_b01, .a_b02
	line-height: 32px !important
.a_b02
	height: 32px !important
.sub_menu
	z-index: 999
ul.a_btn_c2 li
	@extend is-show-inline

.upper-alpha
	li
		margin-left: 32px

		.icon-list
			+size(24px)
			background: url(#{$l2}/upper-alpha.png) no-repeat
			@extend %fl
			display: inline-block
			margin-right: 10px

		// 選擇題
		&:nth-child(1)
			.icon-list
				background-position: left 0
		&:nth-child(2)
			.icon-list
				background-position: left -24px
		&:nth-child(3)
			.icon-list
				background-position: left -48px
		&:nth-child(4)
			.icon-list
				background-position: left -72px
		&:nth-child(5)
			.icon-list
				background-position: left -96px
		&:nth-child(6)
			.icon-list
				background-position: left -120px
		
		// 是非題
		.icon-list.tft
			background-position: left -144px
			float: none
		.icon-list.tff
			background-position: left -168px
			float: none
	
		img
			max-width: 206px
		& + li
			margin-top: 10px


// fix 改變box-sizing
.cont_tab h2, .cont_tab li, .cont_tab2 h2
	clear: both

%upload-fiie
	visibility: hidden
	width: 1px
	height: 1px
	position: absolute

.ipt_upload_img,
.upload-fiie--img
	@extend %upload-fiie
.upload-fiie--excel
	@extend %upload-fiie

.is-inlineblock-show
	img
		&.pic
			display: none
			width: 0
		&.view
			display: block
			width: 260px
	a
		&.remove_img
			display: none !important
		&.remove_img.cur
			display: inline-block !important

.quiz_subject
	@extend %is-table
	width: 1000px
	@include background-image(linear-gradient($black-0, $black-5 80%, $black-5))
	border-bottom: 5px solid darken($colorPeterRiver, 10)
	margin: -20px -40px -40px -40px
	padding: 20px 40px 60px 40px
	+ h3
		background-color: $black-0
		padding: 10px 30px
		display: inline-block
		font-size: 1.2em
		margin-bottom: 20px

	.remove_img
		+is-hidden

	.cur
		+is-show-inline

.quiz_add_subject
	li
		display: table
		width: 100%
		margin: 20px 0

		.remove_img
			+is-hidden

		.cur
			+is-show-inline

$holder-height: 2em

.radioholder
	width: 100%
	font-size: 1.3em
	height: $holder-height
	color: $black-60
	+transition(.1s ease-out)
	cursor: pointer

.activeradioholder
	background: lighten($primary, 10%)
	color: $black-0

.radioholder
	//.desc
	.tick
		display: inline-block
		vertical-align: middle
		width: $holder-height
		height: 100%
		background-color: $black-10
		background-image: none
		+transition(.1s ease-out)
	b
		display: inline-block
		vertical-align: middle
		padding-left: .6em
		height: $holder-height
		line-height: $holder-height
	input
		display: none

.activeradioholder .tick
	background-color: $primary
	background-image: url(#{$l2}/radio_tick.png)
	background-size: cover

.radioholder
	&:nth-child(odd)
		float: right
	&:nth-child(even)
		float: left
	&:hover
		background-color: $black-10
		.tick
			background-color: $black-15

.activeradioholder:hover
	background-color: lighten($primary, 10%)
	.tick
		background-color: $primary

$selectholder: 2em
$selectholderSize: 40px

.selectholder
	// clear: both
	width: 100%
	background: $black-0
	font-size: 100%
	height: $selectholderSize
	line-height: $selectholderSize
	color: #666
	+transition(.2s ease-out)
	cursor: pointer
	.desc
		display: inline-block
		padding-left: $selectholderSize/2*.75
		line-height: $selectholderSize
	.pulldown
		float: right
		vertical-align: middle
		width: $selectholderSize
		height: 100%
		background-color: $black-15
		background-image: url(#{$l2}/pulldown.png)
		background-size: cover
		+transition(.1s ease-out)
	&:hover
		background-color: $black-0

.activeselectholder
	background-color: $black-15

.selectholder:hover .pulldown, .activeselectholder .pulldown
	background-color: #333
	background-image: url(#{$l2}/pulldown_hover.png)

.selectholder .selectdropdown
	z-index: 999
	position: relative
	top: 0
	left: 0
	background: $black-80
	color: $black-0
	display: none
	clear: both
	span
		display: block
		border-bottom: solid 1px $black-65
		padding-left: .8em
		line-height: $selectholderSize
		+transition(background-color .1s ease-out)
		&:last-child
			border-bottom: none
		&.active
			background-color: lighten($primary, 10%)
			background-image: url(#{$l2}/radio_tick.png)
			background-repeat: no-repeat
			background-size: 1.6em 1.6em
			background-position: 98% 50%
		&:hover
			background-color: $primary

.a_slt, .search_slt
	border: 0

.i-b-block
	@include pie-clearfix
	> * 
		@include is-show-inline
		// 因應頁面-新增題目是非題選擇
		vertical-align: bottom
		
	.remove_img
		+is-hidden

	.cur
		+is-show-inline

// 限定題目圖片顯示大小
img.pic
	display: none
	&.view
		display: inline-block
		max-width: 260px
		width: 260px
		margin-right: 5px
		table &
			display: block

// Alert box
%alert-block, .alert-block
	+is-show-inline
	padding: 5px 10px
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
// .alert--warning
// 	color: nth($warningColor, 1)
// 	background-color: nth($warningColor, 2)
// 	border: 1px solid nth($warningColor, 3)
// %alert--warning
// 	@extend %alert-block
// 	@extend .alert--warning
// .alert--success
// 	color: nth($successColor, 1)
// 	background-color: nth($successColor, 2)
// 	border: 1px solid nth($successColor, 3)
// %alert--success
// 	@extend %alert-block
// 	@extend .alert--success
.alert--info
	color: nth($infoColor, 1)
	background-color: nth($infoColor, 2)
	border: 1px solid nth($infoColor, 3)
%alert--info
	@extend %alert-block
	@extend .alert--info
.alert--error
	@extend %alert
	color: nth($errorColor, 1)
	background-color: nth($errorColor, 2)
	border: 1px solid nth($errorColor, 3)
%alert--error
	@extend %alert-block
	@extend .alert--error

.caption
	@extend %alert--info
	&.fl
		float: left !important

$radius: 0
.select
	font: inherit
	font-weight: 400
	border: 1px solid #ccc
	padding: 5px
	background: $black-0
	min-width: 200px
	border-radius: $radius
	appearance: button
	-moz-appearance: button
	-webkit-appearance: button
	background-image: url(#{$l2}/arrow_b3.gif)
	background-position: right 50%
	background-repeat: no-repeat

//
#quizs
	ol > li
		color: #7a4c1f
		float: left
	background-color: #fff
	padding: 40px
	ul > li
		float: left

.q_topic
	float: left

#quizs
	overflow: hidden
	ol > li, ul > li
		width: 97%
	ol
		> li
			padding: 0 0 40px 40px
			list-style: decimal
			list-style-position: inside
		h3
			font-size: 16px
			line-height: 1.6em
			display: inline
			color: #7a4c1f
	ul
		margin-top: 15px
		> li
			margin: 0 0 20px 18px
			color: #666
		li span
			float: left
			width: 30px
			margin-right: 10px
			border: 1px solid #ccc
			border-radius: 50%
			cursor: pointer
			text-align: center
			line-height: 30px
	.q_pic img
		margin-right: 5px
	.q_topic
		width: 94%
	ul
		.choose span
			color: #fff
			background-color: #f29b76
			border-color: #f29b76
		p
			padding: 6px 0
	&.quizs_ans
		.ans
			position: relative
			em
				position: absolute
				top: 6px
				left: -46px
				color: #88c997
			span
				color: #fff
				border-color: #88c997
				background-color: #88c997
.table-02
	@extend .table
	@extend .table-bordered
	@extend .table-striped
	th
		background-color: #3C78CA
		background: url("../images/h2bg3.gif") repeat-x 0 0
		padding: .8em .4em
		min-height: 40px
		color: #fff
		thead &
			border-color: #3C78CA
