@charset "UTF-8";
/* line 10, ../sass/_mixin.scss */
.controls:hover .remove { font: 0/0 a; text-shadow: none; border: 0 none; color: transparent; }

/* line 45, ../sass/_mixin.scss */
.a_btn_c2:after, .pd2040:after, .pd2020:after { content: ""; display: table; clear: both; }

/* line 127, ../sass/_syntax.sass */
.fr { float: right; }

/* line 129, ../sass/_syntax.sass */
.fl, .test dt, .upper-alpha li .icon-list { float: left; }

/* line 45, ../sass/_mixin.scss */
.oh:after { content: ""; display: table; clear: both; }

/* line 144, ../sass/_syntax.sass */
.center-block { margin-left: auto; margin-right: auto; text-align: center; }

/* line 148, ../sass/_syntax.sass */
.inline-block { display: inline-block !important; float: none !important; *zoom: 1; display: inline-block; }
/* line 35, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
.inline-block { display: block; }

/* line 45, ../sass/_mixin.scss */
.test dl:after, .i-b-block:after { content: ""; display: table; clear: both; }
/* line 157, ../sass/_syntax.sass */
.test dl > *, .i-b-block > * { display: inline-block !important; vertical-align: bottom; }

/* line 162, ../sass/_syntax.sass */
.text-l { text-align: left; }

/* line 165, ../sass/_syntax.sass */
.text-r { text-align: right; }

/* #Form and Buttons */
/* line 24, ../sass/_forms.scss */
.cf fieldset { border-top: 1px dotted #999; }
/* line 28, ../sass/_forms.scss */
.cf input, .cf select, .cf textarea { width: 99%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* line 32, ../sass/_forms.scss */
.cf input[type="button"], .cf select[type="button"], .cf textarea[type="button"] { width: auto; }
/* line 38, ../sass/_forms.scss */
.cf input[type="radio"], .cf input[type="checkbox"] { width: 16px; height: 16px; }
/* line 44, ../sass/_forms.scss */
.cf label, .cf legend { display: block; font-weight: bold; }
/* line 49, ../sass/_forms.scss */
.cf label { margin-bottom: 1em; }
/* line 53, ../sass/_forms.scss */
.cf legend { padding: 0.5em; border: 1px dotted #999; background: #f7f7f7; }
/* line 59, ../sass/_forms.scss */
.cf label span, .cf legend span { font-size: 0.85em; font-weight: 400; }
/* line 64, ../sass/_forms.scss */
.cf .bt, .cf button { font: inherit; display: inline-block; padding: 10px 12px; color: #666; text-decoration: none; cursor: pointer; background-color: #f6f6f6; background: linear-gradient(to bottom, #ffffff, #e6e6e6); background: -webkit-linear-gradient(top, white, #e6e6e6); background: -moz-linear-gradient(center 1px, white, #e6e6e6); background: -ms-linear-gradient(top, white, #e6e6e6); background: -o-linear-gradient(top, white, #e6e6e6); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#e6e6e6'); border: 1px solid #ccc; border-radius: 0; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.09); }
/* line 79, ../sass/_forms.scss */
.cf input[type="submit"], .cf input[type="reset"], .cf input[type="button"] { font: inherit; display: inline-block; padding: 10px 12px; color: #666; text-decoration: none; cursor: pointer; background-color: #f6f6f6; background: linear-gradient(to bottom, #ffffff, #e6e6e6); background: -webkit-linear-gradient(top, white, #e6e6e6); background: -moz-linear-gradient(center 1px, white, #e6e6e6); background: -ms-linear-gradient(top, white, #e6e6e6); background: -o-linear-gradient(top, white, #e6e6e6); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#e6e6e6'); border: 1px solid #ccc; border-radius: 0; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.09); }
/* line 94, ../sass/_forms.scss */
.cf .bt:hover, .cf button:hover { background-color: #f6f6f6; background: linear-gradient(to bottom, #e0e0e0, #ffffff); background: -webkit-linear-gradient(top, #e0e0e0, white); background: -moz-linear-gradient(center 1px, #e0e0e0, white); background: -ms-linear-gradient(top, #e0e0e0, white); background: -o-linear-gradient(top, #e0e0e0, white); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#e0e0e0', endColorstr='#ffffff'); border: 1px solid #ccc; }
/* line 102, ../sass/_forms.scss */
.cf input[type="submit"]:hover, .cf input[type="reset"]:hover, .cf input[type="button"]:hover { background-color: #f6f6f6; background: linear-gradient(to bottom, #e0e0e0, #ffffff); background: -webkit-linear-gradient(top, #e0e0e0, white); background: -moz-linear-gradient(center 1px, #e0e0e0, white); background: -ms-linear-gradient(top, #e0e0e0, white); background: -o-linear-gradient(top, #e0e0e0, white); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#e0e0e0', endColorstr='#ffffff'); border: 1px solid #ccc; }
/* line 107, ../sass/_forms.scss */
.cf input[type="text"], .cf input[type="password"], .cf input[type="email"], .cf input[type="file"] { font: inherit; font-weight: 400; border: 1px solid #ccc; padding: 10px; background: #fff; border-radius: 0; box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.12); }
/* line 118, ../sass/_forms.scss */
.cf textarea, .cf select { font: inherit; font-weight: 400; border: 1px solid #ccc; padding: 10px; background: #fff; border-radius: 0; }
/* line 129, ../sass/_forms.scss */
.cf input[type="text"]:focus, .cf input[type="password"]:focus, .cf input[type="email"]:focus { border: 1px solid #999; color: #999; box-shadow: 0 0 3px rgba(0, 0, 0, 0.32); }
/* line 136, ../sass/_forms.scss */
.cf textarea:focus { border: 1px solid #999; color: #999; box-shadow: 0 0 3px rgba(0, 0, 0, 0.32); }
/* line 142, ../sass/_forms.scss */
.cf select { appearance: button; -moz-appearance: button; -webkit-appearance: button; background-image: url("../images/arrow_b3.gif"); background-position: right 50%; background-repeat: no-repeat; }
/* line 159, ../sass/_forms.scss */
.cf .search { position: relative; }
/* line 161, ../sass/_forms.scss */
.cf .search input { padding-right: 31%; }
/* line 164, ../sass/_forms.scss */
.cf .search button { width: 30%; position: absolute; top: 0; right: 0; }
/* line 171, ../sass/_forms.scss */
.cf input[type="button"]:disabled, .cf input[type="submit"]:disabled, .cf input[type="reset"]:disabled, .cf input[type="file"]:disabled::-webkit-file-upload-button, .cf button:disabled, .cf select:disabled, .cf keygen:disabled, .cf optgroup:disabled, .cf option:disabled, .cf select[disabled] > option { color: graytext; }
/* line 174, ../sass/_forms.scss */
.cf .bt:hover, .cf .bt:focus, .cf .bt:active, .cf .bt.active, .cf .bt.disabled, .cf .bt[disabled] { color: #333333; background-color: #e6e6e6; }
/* line 178, ../sass/_forms.scss */
.cf .bt.disabled, .cf .bt[disabled] { cursor: default; background-image: none; opacity: 0.65; filter: alpha(opacity=65); -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

/* line 190, ../sass/_forms.scss */
.caption { text-align: left; line-height: 40px; }

/* line 4, ../sass/_tables.sass */
.table { margin: 5px 0; }
/* line 6, ../sass/_tables.sass */
.table td, .table th, .table td { padding: 0.5em; line-height: 1.75; }

/* line 16, ../sass/_tables.sass */
.table_striped tbody tr:nth-child(odd) td { background: #f6f6f6; }

/* line 1, ../sass/_pagination.sass */
.pagination { margin: 20px 0; padding-right: 10px; }
/* line 4, ../sass/_pagination.sass */
.pagination ul { display: inline-block; *display: inline; margin-bottom: 0; margin-left: 0; *zoom: 1; }
/* line 11, ../sass/_pagination.sass */
.pagination ul > li { display: inline; }
/* line 14, ../sass/_pagination.sass */
.pagination ul > li > a { float: left; padding: 4px 12px; line-height: 20px; text-decoration: none; background-color: white; border: 1px solid #cccccc; border-left-width: 0; }
/* line 23, ../sass/_pagination.sass */
.pagination ul > li > a:hover, .pagination ul > li > a:focus { background-color: whitesmoke; }
/* line 25, ../sass/_pagination.sass */
.pagination ul > li:first-child > a { border-left-width: 1px; }
/* line 28, ../sass/_pagination.sass */
.pagination .active a { background-color: whitesmoke; }
/* line 30, ../sass/_pagination.sass */
.pagination .active a { color: #999999; cursor: default; }
/* line 34, ../sass/_pagination.sass */
.pagination .disabled a { color: #999999; cursor: default; background-color: whitesmoke; }
/* line 38, ../sass/_pagination.sass */
.pagination .disabled a:hover, .pagination .disabled a:focus { color: #999999; cursor: default; background-color: whitesmoke; }
/* line 43, ../sass/_pagination.sass */
.pagination .select-page { line-height: 30px; height: 30px; margin-left: 10px; padding: 0 10px; }

/* line 4, ../sass/_admin_fancybox.sass */
._admin_fancybox .fancybox-skin { border-radius: 0; }
/* line 6, ../sass/_admin_fancybox.sass */
._admin_fancybox .fancybox-close { top: 4px; right: 4px; width: 32px; height: 32px; background-size: 32px; background-image: url("../images/icon-close.png"); }

/* line 13, ../sass/_admin_fancybox.sass */
._afb_toolbar { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: fixed; top: 0; left: 0; width: 100%; }
/* line 19, ../sass/_admin_fancybox.sass */
._afb_toolbar h2 { padding: 0 20px; }
/* line 21, ../sass/_admin_fancybox.sass */
._afb_toolbar .fancybox-close { position: absolute; top: 4px; right: 4px; width: 32px; height: 32px; background-size: 32px; background-image: url("../images/icon-close.png"); }

/* line 30, ../sass/_admin_fancybox.sass */
._afb_footbar { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: fixed; width: 100%; bottom: 0; padding: 10px 20px; background: #eeeeee; border-top: 1px solid #dddddd; }

/* line 39, ../sass/_admin_fancybox.sass */
._afb_main { overflow: auto; height: 100%; }

/* line 43, ../sass/_admin_fancybox.sass */
._afb_toolbar_out, ._afb_toolbar { height: 40px; }

/* line 45, ../sass/_admin_fancybox.sass */
._afb_footbar_out, ._afb_footbar { height: 62px; }

/* line 1, ../sass/_component_btn.sass */
.btn-group { overflow: hidden; }
/* line 3, ../sass/_component_btn.sass */
.btn-group input { width: auto !important; }
/* line 5, ../sass/_component_btn.sass */
.btn-group input + input, .btn-group a + a { margin-left: -2px; }

/* line 9, ../sass/_component_btn.sass */
.center-block input + input, .spacing-block input + input { margin: 0 10px; }
/* line 11, ../sass/_component_btn.sass */
.center-block input, .spacing-block input { margin-left: 10px; }

/* line 15, ../sass/_component_btn.sass */
.inline-grop { overflow: hidden; }
/* line 17, ../sass/_component_btn.sass */
.inline-grop input { width: auto !important; }
/* line 19, ../sass/_component_btn.sass */
.inline-grop a + a, .inline-grop input + a { margin-left: -2px; }

/* line 23, ../sass/_component_btn.sass */
.control-group { margin-bottom: 10px; margin-top: 10px; }
/* line 45, ../sass/_mixin.scss */
.control-group:after { content: ""; display: table; clear: both; }

/* line 28, ../sass/_component_btn.sass */
.control-label { float: left; width: 16%; text-align: right; padding-right: 10px; }

/* line 34, ../sass/_component_btn.sass */
.controls { padding-left: 10px; margin-left: 17%; border-left: 1px solid #09277b; }

/* line 40, ../sass/_component_btn.sass */
.cont_tab4 .control-group { padding: 10px; }

/* line 43, ../sass/_component_btn.sass */
.controls { position: relative; }
/* line 45, ../sass/_component_btn.sass */
.controls .remove { display: none; }
/* line 48, ../sass/_component_btn.sass */
.controls:hover .remove { position: absolute; top: -24px; right: -24px; height: 32px; width: 32px; background-image: url("../images/icon-remove.png"); background-position: center; display: block; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; background-color: white; }

/* line 16, ../sass/develop.sass */
.masthead { background-color: #bbbbbb; position: relative; }
/* line 19, ../sass/develop.sass */
.masthead .cont { padding: 20px 0; position: relative; }
/* line 23, ../sass/develop.sass */
.masthead .cont:before, .masthead .cont:after { content: " "; display: block; }
/* line 26, ../sass/develop.sass */
.masthead .cont:after { clear: both; }

/* line 29, ../sass/develop.sass */
.container { background-color: #f7f7f7; padding: 30px; }

/* line 33, ../sass/develop.sass */
.masthead_head { width: 10%; float: left; vertical-align: top; }
/* line 37, ../sass/develop.sass */
.masthead_head:before { content: " "; position: absolute; display: block; top: 0; bottom: 0; left: 0; width: 10%; border-right: 1px solid #dddddd; }

/* line 48, ../sass/develop.sass */
.masthead_title { background: url(../images/icon-edit.png) no-repeat left center; height: 51px; line-height: 51px; padding-left: 40px; color: #666666; }

/* line 55, ../sass/develop.sass */
.masthead_content { width: 90%; float: left; }

/* line 59, ../sass/develop.sass */
.test { position: relative; }

/* line 61, ../sass/develop.sass */
.eptitle { font-size: 18px; }

/* line 64, ../sass/develop.sass */
.test { padding: 0 40px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* line 71, ../sass/develop.sass */
.test dl > *:nth-child(1):after, .test dl > *:nth-child(2):after { content: "/"; display: inline-block; margin: 0 5px; }
/* line 75, ../sass/develop.sass */
.test dl > *:nth-child(1):after { content: "/"; display: inline-block; margin: 0 5px; }
/* line 79, ../sass/develop.sass */
.test dl > *:nth-child(3) { border-right: 1px solid #dddddd; margin-right: 20px; }
/* line 82, ../sass/develop.sass */
.test dl > *:nth-child(3):after { content: ""; display: inline-block; margin: 0 5px; }

/* line 92, ../sass/develop.sass */
.cont { width: 1000px; margin: 0 auto; }

/* line 45, ../sass/_mixin.scss */
.row:after { content: ""; display: table; clear: both; }

/* line 98, ../sass/develop.sass */
.row + .row { margin-top: 5px; }

/* line 103, ../sass/develop.sass */
.masthead .control-label { width: 9%; line-height: 41px; margin-bottom: 0; }
/* line 107, ../sass/develop.sass */
.masthead .controls { margin-left: 10%; }

/* reset .control-label 與 .controls */
/* line 113, ../sass/develop.sass */
.cont_tab4 { background-color: white; margin-bottom: 10px; }

/* line 117, ../sass/develop.sass */
textarea { line-height: 30px; border: 1px solid #dddddd; }

/* line 121, ../sass/develop.sass */
.control-label.title { float: none; text-align: right; clear: both; margin: 20px 0; }

/* line 127, ../sass/develop.sass */
.pd2020 { padding: 20px; }

/* line 136, ../sass/develop.sass */
textarea { border: 1px solid #dddddd !important; }

/* line 138, ../sass/develop.sass */
.a_b01, .a_b02 { line-height: 32px !important; }

/* line 140, ../sass/develop.sass */
.a_b02 { height: 32px !important; }

/* line 142, ../sass/develop.sass */
.sub_menu { z-index: 999; }

/* line 144, ../sass/develop.sass */
ul.a_btn_c2 li { display: inline-block !important; float: none !important; *zoom: 1; display: inline-block; }
/* line 35, ../../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
ul.a_btn_c2 li { display: block; }

/* line 150, ../sass/develop.sass */
.cont_tab2 input { height: auto !important; }

/* line 154, ../sass/develop.sass */
.upper-alpha li { margin-left: 32px; }
/* line 157, ../sass/develop.sass */
.upper-alpha li .icon-list { height: 24px; width: 24px; background: url(../images/upper-alpha.png) no-repeat; margin-right: 10px; }
/* line 165, ../sass/develop.sass */
.upper-alpha li:nth-child(1) .icon-list { background-position: left 0; }
/* line 168, ../sass/develop.sass */
.upper-alpha li:nth-child(2) .icon-list { background-position: left -24px; }
/* line 171, ../sass/develop.sass */
.upper-alpha li:nth-child(3) .icon-list { background-position: left -48px; }
/* line 174, ../sass/develop.sass */
.upper-alpha li:nth-child(4) .icon-list { background-position: left -72px; }
/* line 177, ../sass/develop.sass */
.upper-alpha li:nth-child(5) .icon-list { background-position: left -96px; }
/* line 180, ../sass/develop.sass */
.upper-alpha li:nth-child(6) .icon-list { background-position: left -120px; }
/* line 183, ../sass/develop.sass */
.upper-alpha li:nth-child(7) .icon-list { background-position: left -144px; }
/* line 186, ../sass/develop.sass */
.upper-alpha li:nth-child(8) .icon-list { background-position: left -168px; }
/* line 190, ../sass/develop.sass */
.upper-alpha li .icon-list.tft { background-position: left -144px; float: none; }
/* line 193, ../sass/develop.sass */
.upper-alpha li .icon-list.tff { background-position: left -168px; float: none; }
/* line 197, ../sass/develop.sass */
.upper-alpha li img { max-width: 206px; }
/* line 199, ../sass/develop.sass */
.upper-alpha li + li { margin-top: 10px; }

/* line 202, ../sass/develop.sass */
.quiz_list_stylesass { counter-reset: list 0; }
/* line 204, ../sass/develop.sass */
.quiz_list_stylesass > li { position: relative; }
/* line 206, ../sass/develop.sass */
.quiz_list_stylesass > li:after { position: absolute; content: ""; content: counter(list,decimal); counter-increment: list; text-align: center; top: 40px; left: 40px; font-size: 16px; }

/* line 216, ../sass/develop.sass */
.menu_wrap { height: 40px; }

/* line 218, ../sass/develop.sass */
#menu_area { z-index: 9999; }

/* line 221, ../sass/develop.sass */
.ipt_upload_img { visibility: hidden; width: 1px; height: 1px; position: absolute; }

/* line 228, ../sass/develop.sass */
.i-b-block img.pic { display: none; width: 0; }
/* line 231, ../sass/develop.sass */
.i-b-block img.view { display: block; width: 260px; }
/* line 235, ../sass/develop.sass */
.i-b-block a.remove_img { display: none !important; }
/* line 237, ../sass/develop.sass */
.i-b-block a.remove_img.cur { display: inline-block !important; }

/* line 241, ../sass/develop.sass */
.fancybox-inner { position: relative; }

/* line 244, ../sass/develop.sass */
.warning .strong { background: url(../images/icon-warning.png) 0 10px no-repeat; padding-left: 50px; font-weight: bold; line-height: 40px; display: block; font-size: 16px; }
/* line 252, ../sass/develop.sass */
.warning .block { width: 40%; margin-left: -30%; position: absolute; bottom: 0; left: 60%; }
/* line 45, ../sass/_mixin.scss */
.warning .block:after { content: ""; display: table; clear: both; }

/* line 261, ../sass/develop.sass */
.trtable_wrapper { width: 1000px; height: 400px; overflow-x: auto; overflow-y: auto; }

/* line 267, ../sass/develop.sass */
.trtable { margin: 0; border: 1px solid #b3b3b3; }
/* line 271, ../sass/develop.sass */
.trtable th { background-color: #e6e6e6; }
/* line 274, ../sass/develop.sass */
.trtable th, .trtable td { text-align: center; padding: 0; }
/* line 277, ../sass/develop.sass */
.trtable th span + span, .trtable td span + span { color: white; background: #d9d9d9; line-height: 1; }
/* line 283, ../sass/develop.sass */
.trtable th span, .trtable td span { display: block; padding: 0.5em; }
/* line 286, ../sass/develop.sass */
.trtable td { background-color: #eef4d6; color: #72cb1b; border-color: white; vertical-align: middle; }
/* line 293, ../sass/develop.sass */
.trtable .error { background-color: #f9d6d7; color: #e95d4b; }
/* line 296, ../sass/develop.sass */
.trtable th { background: white; }
/* line 298, ../sass/develop.sass */
.trtable th span { white-space: nowrap; }

/* line 302, ../sass/develop.sass */
.quiz_add_subject .control-label { margin-bottom: 0; }
/* line 304, ../sass/develop.sass */
.quiz_add_subject .control-group { padding: 10px; border: 5px solid transparent; cursor: pointer; }
/* line 308, ../sass/develop.sass */
.quiz_add_subject .control-group:hover { background-color: #f2f2f2; }
/* line 310, ../sass/develop.sass */
.quiz_add_subject .control-group.active { background-color: #f7faea; border: 5px solid #d8e4a7; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
/* line 314, ../sass/develop.sass */
.quiz_add_subject input[type="radio"] { display: none; }
/* line 316, ../sass/develop.sass */
.quiz_add_subject input[type="radio"] + b { display: block; font-size: 3em; line-height: 60px; color: gray; text-align: center; text-indent: 1em; }
/* line 323, ../sass/develop.sass */
.quiz_add_subject input[type="radio"]:checked + b { color: #c6d880; }

/* line 333, ../sass/develop.sass */
.chart { width: 100%; margin: 30px auto 0; }
/* line 336, ../sass/develop.sass */
.chart h6 { width: 150px; float: left; font-size: 1.5em; margin: 10px 0; text-align: center; }
/* line 342, ../sass/develop.sass */
.chart ol > li + li { margin-top: 20px; }

/* line 344, ../sass/develop.sass */
.chart__numbers { height: 30px; margin-left: 150px; position: relative; }
/* line 45, ../sass/_mixin.scss */
.chart__numbers:after { content: ""; display: table; clear: both; }
/* line 349, ../sass/develop.sass */
.chart__numbers li { text-align: right; height: 30px; display: inline-block; float: left; width: 20%; }
/* line 355, ../sass/develop.sass */
.chart__numbers li span { color: #a6a6a6; }
/* line 358, ../sass/develop.sass */
.chart__numbers li:first-child:before { content: "0"; position: absolute; right: 100%; color: #a6a6a6; }

/* line 363, ../sass/develop.sass */
.chart__bars { background: rgba(0, 0, 0, 0.05); margin-left: 150px; -webkit-border-radius: 0; -moz-border-radius: 0 4px 4px 0; border-radius: 0 4px 4px 0; }
/* line 367, ../sass/develop.sass */
.chart__bars li { position: relative; padding: 5px 0; }
/* line 371, ../sass/develop.sass */
.chart__bars li:hover .chart__bar { background-color: #ff7276; }
/* line 373, ../sass/develop.sass */
.chart__bars li:hover .chart__bar:before { color: #205791; content: attr(data-nofp) "人"; position: absolute; left: 100%; top: 0.5em; width: 4em; margin-left: 10px; }
/* line 381, ../sass/develop.sass */
.chart__bars li:hover .chart__bar.right { background-color: #bbd74e; }

/* line 383, ../sass/develop.sass */
.chart__bar { position: relative; height: 30px; background-color: #fbc2c4; width: 0; -webkit-transition: width 1s ease-in-out; -moz-transition: width 1s ease-in-out; -o-transition: width 1s ease-in-out; transition: width 1s ease-in-out; }
/* line 390, ../sass/develop.sass */
.chart__bar.right { background-color: #c6d880; }

/* line 394, ../sass/develop.sass */
.chart__left_lable { color: gray; width: 4em; position: absolute; top: 1em; right: 100%; text-align: center; }

/* line 402, ../sass/develop.sass */
.tb_fixed.fixed { position: fixed; }

/* line 405, ../sass/develop.sass */
.btn_wrap { top: 40px; width: 1000px; padding-top: 20px; background: #f7f7f7; }

/* line 411, ../sass/develop.sass */
thead.fixed { top: 101px; background: #f7f7f7; position: fixed; }
/* line 416, ../sass/develop.sass */
thead.fixed th { padding: 0.583em; }
