/* box-sizing */
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* global-reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

.quiz_add_subject li:hover .remove { color: transparent; font: 0/0 a; text-shadow: none; border: 0 none; }

.a_btn_c2:after, .pd2040:after, .pd2020:after { content: ""; display: table; clear: both; }

/* Float-left */
.fl, #side, #searchbox, .icon01, .icon02, .icon03, .icon04, .icon05, .icon06, .icon07, .icon08, .icon09, .icon10, .icon11, .icon12, .icon13, .icon14, .test dt { float: left; display: inline; }

/* Float-right */
.fr { float: right; display: inline; }

/* Rest-float */
.rf { float: none; display: block; }

/* Overflow hidden */
.oh { overflow: hidden; *zoom: 1; }

/* 浮動 hack */
.cearfix, .a_btn_c2, .pd2040, .pd2020 { *zoom: 1; }
.cearfix:after, .a_btn_c2:after, .pd2040:after, .pd2020:after { content: ""; display: table; clear: both; }

/* Center block */
.center-block { margin-left: auto; margin-right: auto; text-align: center; }

/* Inlin block */
.inline-block { display: inline-block !important; float: none !important; *zoom: 1; display: inline-block; }
.inline-block { display: block; }

.test dl, .i-b-block { *zoom: 1; }
.test dl:after, .i-b-block:after { content: ""; display: table; clear: both; }
.test dl > *, .i-b-block > * { display: inline-block !important; }

/* text align left */
.text-l { text-align: left; }

/* text align right */
.text-r { text-align: right; }

.static-container { *zoom: 1; max-width: 62.5em; _width: 62.5em; padding-left: 0; padding-right: 0; margin-left: auto; margin-right: auto; }
.static-container:after { content: ""; display: table; clear: both; }

.fluid-container { *zoom: 1; max-width: 62.5em; _width: 62.5em; padding-left: 0; padding-right: 0; margin-left: auto; margin-right: auto; }
.fluid-container:after { content: ""; display: table; clear: both; }

html { font-size: 100%; }

body { font-size: 0.75em; line-height: 1.5em; background-color: #eaedef; color: #777777; }

a { color: #333333; text-decoration: none; }
a:hover, a:focus, a:active { color: #00a3cf; }

img { background: transparent url(../images/loading.gif) no-repeat 50% 50%; }

/* #Form and Buttons */
.cf fieldset { border-top: 1px dotted #999; }
.cf input, .cf select, .cf textarea { width: 99%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.cf input[type="button"], .cf select[type="button"], .cf textarea[type="button"] { width: auto; }
.cf input[type="radio"], .cf input[type="checkbox"] { width: 16px; height: 16px; }
.cf label, .cf legend { display: block; font-weight: bold; }
.cf label { margin-bottom: 1em; }
.cf legend { padding: 0.5em; border: 1px dotted #999; background: #f7f7f7; }
.cf label span, .cf legend span { font-size: 0.85em; font-weight: 400; }
.cf .bt, .cf button { font: inherit; display: inline-block; padding: 10px 12px; color: #666; text-decoration: none; cursor: pointer; background-color: #f6f6f6; background: linear-gradient(to bottom, #ffffff, #e6e6e6); background: -webkit-linear-gradient(top, white, #e6e6e6); background: -moz-linear-gradient(center 1px, white, #e6e6e6); background: -ms-linear-gradient(top, white, #e6e6e6); background: -o-linear-gradient(top, white, #e6e6e6); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#e6e6e6'); border: 1px solid #ccc; border-radius: 0; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.09); }
.cf input[type="submit"], .cf input[type="reset"], .cf input[type="button"] { font: inherit; display: inline-block; padding: 10px 12px; color: #666; text-decoration: none; cursor: pointer; background-color: #f6f6f6; background: linear-gradient(to bottom, #ffffff, #e6e6e6); background: -webkit-linear-gradient(top, white, #e6e6e6); background: -moz-linear-gradient(center 1px, white, #e6e6e6); background: -ms-linear-gradient(top, white, #e6e6e6); background: -o-linear-gradient(top, white, #e6e6e6); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#e6e6e6'); border: 1px solid #ccc; border-radius: 0; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.09); }
.cf .bt:hover, .cf button:hover { background-color: #f6f6f6; background: linear-gradient(to bottom, #e0e0e0, #ffffff); background: -webkit-linear-gradient(top, #e0e0e0, white); background: -moz-linear-gradient(center 1px, #e0e0e0, white); background: -ms-linear-gradient(top, #e0e0e0, white); background: -o-linear-gradient(top, #e0e0e0, white); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#e0e0e0', endColorstr='#ffffff'); border: 1px solid #ccc; }
.cf input[type="submit"]:hover, .cf input[type="reset"]:hover, .cf input[type="button"]:hover { background-color: #f6f6f6; background: linear-gradient(to bottom, #e0e0e0, #ffffff); background: -webkit-linear-gradient(top, #e0e0e0, white); background: -moz-linear-gradient(center 1px, #e0e0e0, white); background: -ms-linear-gradient(top, #e0e0e0, white); background: -o-linear-gradient(top, #e0e0e0, white); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#e0e0e0', endColorstr='#ffffff'); border: 1px solid #ccc; }
.cf input[type="text"], .cf input[type="password"], .cf input[type="email"], .cf input[type="file"] { font: inherit; font-weight: 400; border: 1px solid #ccc; padding: 10px; background: #fff; border-radius: 0; box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.12); }
.cf textarea, .cf select { font: inherit; font-weight: 400; border: 1px solid #ccc; padding: 10px; background: #fff; border-radius: 0; }
.cf input[type="text"]:focus, .cf input[type="password"]:focus, .cf input[type="email"]:focus { border: 1px solid #999; color: #999; box-shadow: 0 0 3px rgba(0, 0, 0, 0.32); }
.cf textarea:focus { border: 1px solid #999; color: #999; box-shadow: 0 0 3px rgba(0, 0, 0, 0.32); }
.cf select { appearance: button; -moz-appearance: button; -webkit-appearance: button; background-image: url("../images/arrow_b3.gif"); background-position: right 50%; background-repeat: no-repeat; }
.cf .search { position: relative; }
.cf .search input { padding-right: 31%; }
.cf .search button { width: 30%; position: absolute; top: 0; right: 0; }
.cf input[type="button"]:disabled, .cf input[type="submit"]:disabled, .cf input[type="reset"]:disabled, .cf input[type="file"]:disabled::-webkit-file-upload-button, .cf button:disabled, .cf select:disabled, .cf keygen:disabled, .cf optgroup:disabled, .cf option:disabled, .cf select[disabled] > option { color: #333333; background-color: #e6e6e6; }
.cf .bt:hover, .cf .bt:focus, .cf .bt:active, .cf .bt.active, .cf .bt.disabled, .cf .bt[disabled] { color: #333333; background-color: #e6e6e6; }
.cf .bt.disabled, .cf .bt[disabled] { cursor: default; background-image: none; opacity: 0.65; filter: alpha(opacity=65); -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.cf .bt.disabled:hover, .cf .bt[disabled]:hover { background-image: none; background-color: #e6e6e6; }

.caption { text-align: left; line-height: 40px; }

.table { margin: 5px 0; }
.table td, .table th, .table td { padding: 0.5em; line-height: 1.75; }

.table_striped tbody tr:nth-child(odd) td { background: #f6f6f6; }

.pagination { margin: 20px 0; padding-right: 10px; }
.pagination ul { display: inline-block; *display: inline; margin-bottom: 0; margin-left: 0; *zoom: 1; }
.pagination ul > li { display: inline; }
.pagination ul > li > a { float: left; padding: 4px 12px; line-height: 20px; text-decoration: none; background-color: white; border: 1px solid #cccccc; border-left-width: 0; }
.pagination ul > li > a:hover, .pagination ul > li > a:focus { background-color: whitesmoke; }
.pagination ul > li:first-child > a { border-left-width: 1px; }
.pagination .active a { background-color: whitesmoke; }
.pagination .active a { color: #999999; cursor: default; }
.pagination .disabled a { color: #999999; cursor: default; background-color: whitesmoke; }
.pagination .disabled a:hover, .pagination .disabled a:focus { color: #999999; cursor: default; background-color: whitesmoke; }
.pagination .select-page { line-height: 30px; height: 30px; margin-left: 10px; padding: 0 10px; }

.masthead { background-color: #bbbbbb; position: relative; }
.masthead .cont { padding: 20px 0; position: relative; *zoom: 1; }
.masthead .cont:after { content: ""; display: table; clear: both; }

.masthead_head { width: 10%; float: left; vertical-align: top; }
.masthead_head:before { content: " "; position: absolute; display: block; top: 0; bottom: 0; left: 0; width: 10%; border-right: 1px solid #dddddd; }

.masthead_title { background: url(../images/icon-edit.png) no-repeat left center; height: 51px; line-height: 51px; padding-left: 40px; color: #666666; }

.masthead_content { width: 90%; float: left; }

/* reset .control-label 與 .controls */
.masthead .control-label { width: 9%; line-height: 41px; margin-bottom: 0; }
.masthead .controls { margin-left: 10%; }

.fancybox-inner { position: relative; }

.warning .strong { background: url(../images/icon-warning.png) 0 10px no-repeat; padding-left: 50px; font-weight: bold; line-height: 40px; display: block; font-size: 16px; }
.warning .block { width: 40%; margin-left: -30%; *zoom: 1; position: absolute; bottom: 0; left: 60%; }
.warning .block:after { content: ""; display: table; clear: both; }

.quiz_list_stylesass { counter-reset: list 0; }
.quiz_list_stylesass > li { position: relative; }
.quiz_list_stylesass > li:after { position: absolute; content: ""; content: counter(list,decimal); counter-increment: list; text-align: center; top: 40px; left: 40px; font-size: 16px; }

.chart { width: 100%; margin: 30px auto 0; }
.chart h6 { width: 150px; float: left; font-size: 1.5em; margin: 10px 0; text-align: center; }
.chart ol > li + li { margin-top: 20px; }

.chart__numbers { height: 30px; margin-left: 150px; position: relative; *zoom: 1; }
.chart__numbers:after { content: ""; display: table; clear: both; }
.chart__numbers li { text-align: right; height: 30px; display: inline-block; float: left; width: 20%; }
.chart__numbers li span { color: #a6a6a6; }
.chart__numbers li:first-child:before { content: "0"; position: absolute; right: 100%; color: #a6a6a6; }

.chart__bars { background: rgba(0, 0, 0, 0.05); margin-left: 150px; -webkit-border-radius: 0; -moz-border-radius: 0 4px 4px 0; border-radius: 0 4px 4px 0; }
.chart__bars li { position: relative; padding: 5px 0; }
.chart__bars li:hover .chart__bar { background-color: #ff7276; }
.chart__bars li:hover .chart__bar:before { color: #205791; content: attr(data-nofp) "人"; position: absolute; left: 100%; top: 0.5em; width: 4em; margin-left: 10px; }
.chart__bars li:hover .chart__bar.right { background-color: #bbd74e; }

.chart__bar { position: relative; height: 30px; background-color: #fbc2c4; width: 0; -webkit-transition: width 1s ease-in-out; -moz-transition: width 1s ease-in-out; -o-transition: width 1s ease-in-out; transition: width 1s ease-in-out; }
.chart__bar.right { background-color: #c6d880; }

.chart__left_lable { color: gray; width: 4em; position: absolute; top: 1em; right: 100%; text-align: center; }

._admin_fancybox .fancybox-skin { border-radius: 0; }
._admin_fancybox .fancybox-close { top: 4px; right: 4px; width: 32px; height: 32px; background-size: 32px; background-image: url("../images/icon-close.png"); }

._afb_toolbar { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: fixed; top: 0; left: 0; width: 100%; }
._afb_toolbar h2 { padding: 0 20px; }
._afb_toolbar .fancybox-close { position: absolute; top: 4px; right: 4px; width: 32px; height: 32px; background-size: 32px; background-image: url("../images/icon-close.png"); }

._afb_footbar { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: fixed; width: 100%; bottom: 0; padding: 10px 20px; background: #eeeeee; border-top: 1px solid #dddddd; }

._afb_main { overflow: auto; height: 100%; }

._afb_toolbar_out, ._afb_toolbar { height: 40px; }

._afb_footbar_out, ._afb_footbar { height: 62px; }

.btn-group { overflow: hidden; *zoom: 1; }
.btn-group input { width: auto !important; }
.btn-group input + input, .btn-group a + a { margin-left: -2px; }

.center-block input + input, .spacing-block input + input { margin: 0 10px; }
.center-block input, .spacing-block input { margin-left: 10px; }

.inline-grop { overflow: hidden; *zoom: 1; }
.inline-grop input { width: auto !important; }
.inline-grop a + a, .inline-grop input + a { margin-left: -2px; }

.control-group { display: table-row; }
.control-group .control-label, .control-group .controls { display: table-cell; vertical-align: top; padding: 0 20px; }
.control-group .control-label { width: 20%; padding: 0; }
.control-group .controls { border-left: 1px solid #a1b0c6; }

.cont_tab4 .control-group { padding: 10px; }

.quiz_add_subject .controls { position: relative; }
.quiz_add_subject .controls .remove { display: none; }
.quiz_add_subject li:hover .remove { position: absolute; top: -24px; right: -24px; height: 32px; width: 32px; background-image: url("../images/icon-remove.png"); background-position: center; display: block; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; background-color: white; }

.control-group { border: 1px solid transparent; }

.trtable_wrapper { width: 1000px; height: 400px; overflow-x: auto; overflow-y: auto; }

.trtable { margin: 0; border: 1px solid #b3b3b3; }
.trtable th { background-color: #e6e6e6; }
.trtable th, .trtable td { text-align: center; padding: 0; }
.trtable th span + span, .trtable td span + span { color: white; background: #d9d9d9; line-height: 1; }
.trtable th span, .trtable td span { display: block; padding: 0.5em; }
.trtable td { background-color: #eef4d6; color: #72cb1b; border-color: white; vertical-align: middle; }
.trtable .error { background-color: #f9d6d7; color: #e95d4b; }
.trtable th { background: white; }
.trtable th span { white-space: nowrap; }

/* import master */
/* share_style */
/* 03 cont */
/* search */
#side, #searchbox { width: 200px; }

#menu, #foot, #books, #hot, #reco, #download, #browsers, #help_library, #help_cloud { width: 800px; }

/* $Layout */
/* ------------------------------------------------------------ */
#head_area, #menu_wrap, #menu_area, #cont_area, #foot_area, #menu { width: 100%; *zoom: 1; }
#head_area:after, #menu_wrap:after, #menu_area:after, #cont_area:after, #foot_area:after, #menu:after { content: ""; display: table; clear: both; }

#head_area { height: 80px; }

#cont { padding: 20px 0; }

#head, #menu_bar, #cont, #foot { width: 1000px; margin: 0 auto; *zoom: 1; }
#head:after, #menu_bar:after, #cont:after, #foot:after { content: ""; display: table; clear: both; }

#head_nav { width: 700px; }

h2, .lang, #menu a, .backtop, #menu_area { background: url(../images/h2bg3.gif) repeat-x 0 0; color: #fff; }

h2, #menu_area { height: 38px; line-height: 38px; font-size: 16px; color: white; }
h2 a, #menu_area a { color: white; }

h2, .lang, #menu a, .backtop { height: 38px; border: 1px solid #3c74c5; }

#logo a, #head_nav li, #menu_area, #menu, #menu li { float: left; }

/* 01 head */
#logo a { color: transparent; font: 0/0 a; text-shadow: none; border: 0 none; height: 60px; width: 260px; margin: 10px; background: url(../images/logo.png) no-repeat 0 0; background-size: 260px 60px; }

/* nav */
#head_nav { float: right; display: inline; }
#head_nav ul { float: right; display: inline; }
#head_nav li { padding: 0 0 0 5px; line-height: 25px; }
#head_nav a.lang { height: 25px; width: 25px; }
#head_nav a.lang img { vertical-align: middle; background: none; }
#head_nav a.lang:hover, #head_nav a.lang a:hover { background-position: 0 -40px; }
#head_nav a.lang { display: block; }
#head_nav a.lang { text-align: center; }

#menu { text-align: center; }
#menu a { display: block; }

/* 02 menu */
#menu { border-left: 1px solid #60a4ea; border-right: 1px solid #3c74c5; }
#menu > li { width: 20%; }
#menu a { font-size: 16px; border-right: 1px solid #60a4ea; display: block; }
#menu a:hover { background-position: 0 bottom; }
#menu .sub_menu { width: 201px; position: absolute; margin-left: -1px; display: none; }
#menu li li { width: 100%; border-bottom: 1px solid #e4f5f5; }
#menu li li a { background: #fff; border: 0; }

.menu_wrap { height: 38px; }

#menu_area { z-index: 9999; }

/* search */
.sltbox { width: 64px; margin: 5px 0 5px 1px; background: white url(../images/arrow_b2.gif) no-repeat 50% 50%; }

.search_slt { width: 100px; background: transparent; }

.search { width: 100px; outline: none; margin: 5px 0 5px 5px; text-indent: 5px; color: #999999; }
.search .search { background-color: white; }

.search_btn { width: 30px; background: white url(../images/search.gif) no-repeat 50% 50%; margin: 5px 0; }

#cont_area { background: url(../images/bg01.jpg) 0 0 fixed; }

#cont { word-break: break-all; }

h2 { font-size: 16px; background-position: 0 -160px; }

#searchbox { width: 200px; }

.sltbox, .search_slt, .search, .search_btn { height: 30px; line-height: 30px; }

.sltbox { width: 64px; margin: 5px 0 5px 1px; background: white url("../images/arrow_b2.gif") no-repeat 50% 50%; overflow: hidden; }

.search_slt { width: 100px; background: transparent; }

.search { width: 100px; outline: none; margin: 5px 0 5px 5px; text-indent: 5px; color: #999; }

.search_btn { width: 30px; background: white url("../images/search.gif") no-repeat 50% 50%; margin: 5px 0; }

/* pager */
.pager { float: right; width: 546px; margin-left: 10px; }
.pager li { margin: 10px 10px 0 0; float: left; margin-top: 10px; background-position: 80% 50%; }
.pager li.current a { color: #fff; background: url("../images/h2bg3.gif") repeat-x 0 0; }
.pager .sltbox { float: left; margin-top: 10px; background-position: 80% 50%; }
.pager li a { width: 30px; height: 30px; line-height: 30px; display: block; text-align: center; color: #6060e7; background-color: #ddddfc; }
.pager li a:hover { background-color: #bbbbf9; }

/* foot */
#foot { padding: 30px 0 30px 200px; background: url(../images/logo.png) no-repeat 0 60%; text-align: right; }

/* newsbox */
#newsbox { width: 400px; display: none; }

/* icon */
.icon01, .icon02, .icon03, .icon04, .icon05, .icon06, .icon07, .icon08, .icon09, .icon10, .icon11, .icon12, .icon13, .icon14 { background: url(../images/icon.png) no-repeat 50% 10px; width: 40px; }

.icon02 { background-position: 50% -46px; }

.icon03 { background-position: 50% -103px; }

.icon04 { background-position: 50% -160px; }

.icon05 { background-position: 50% -215px; }

.icon06 { background-position: 50% -270px; }

.icon07 { background-position: 50% -327px; }

.icon08 { background-position: 50% -382px; }

.icon09 { background-position: 50% -438px; }

.icon10 { background-position: 50% -496px; }

.icon11 { background-position: 50% -552px; }

.icon12 { background-position: 50% -606px; }

.icon13 { background-position: 50% -661px; }

.clearb { clear: both; }

.fixed { position: fixed; top: 0; }

.backtop { width: 60px; line-height: 40px; text-align: center; position: fixed; bottom: 110px; right: 0; cursor: pointer; }

.dt { display: table; width: 100%; }

.container { background-color: #f7f7f7; padding: 30px; }

.test { position: relative; }

.eptitle { font-size: 18px; }

.test { padding: 0 40px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.test dl > *:nth-child(1):after, .test dl > *:nth-child(2):after { content: "/"; display: inline-block; margin: 0 5px; }
.test dl > *:nth-child(1):after { content: "/"; display: inline-block; margin: 0 5px; }
.test dl > *:nth-child(3) { border-right: 1px solid #dddddd; margin-right: 20px; }
.test dl > *:nth-child(3):after { content: ""; display: inline-block; margin: 0 5px; }

.cont { width: 1000px; margin: 0 auto; }

.row { *zoom: 1; }
.row:after { content: ""; display: table; clear: both; }

.row + .row { margin-top: 5px; }

.cont_tab4 { background-color: white; margin-bottom: 10px; }

textarea { line-height: 30px; border: 1px solid #dddddd; }

.control-label.title { float: none; text-align: right; clear: both; margin: 20px 0; }

.pd2020 { padding: 20px; }

textarea { border: 1px solid #dddddd !important; }

.a_b01, .a_b02 { line-height: 32px !important; }

.a_b02 { height: 32px !important; }

.sub_menu { z-index: 999; }

ul.a_btn_c2 li { display: inline-block !important; float: none !important; *zoom: 1; display: inline-block; }
ul.a_btn_c2 li { display: block; }

.cont_tab2 input { height: auto !important; }

.upper-alpha li { padding-left: 32px; min-height: 24px; background: url(../images/upper-alpha.png) no-repeat; }
.upper-alpha li + li { margin-top: 5px; }
.upper-alpha li:nth-child(1) { background-position: left 0; }
.upper-alpha li:nth-child(2) { background-position: left -24px; }
.upper-alpha li:nth-child(3) { background-position: left -48px; }
.upper-alpha li:nth-child(4) { background-position: left -72px; }

.cont_tab h2, .cont_tab li, .cont_tab2 h2 { clear: both; }

.ipt_upload_img { visibility: hidden; width: 1px; height: 1px; position: absolute; }

.i-b-block img.pic { display: none; width: 0; }
.i-b-block img.view { display: block; width: 260px; }
.i-b-block a.remove_img { display: none !important; }
.i-b-block a.remove_img.cur { display: inline-block !important; }

.quiz_subject { display: table; width: 1000px; background-image: -webkit-linear-gradient(#ffffff, #f2f2f2 80%, #f2f2f2); background-image: -moz-linear-gradient(#ffffff, #f2f2f2 80%, #f2f2f2); background-image: -o-linear-gradient(#ffffff, #f2f2f2 80%, #f2f2f2); background-image: linear-gradient(#ffffff, #f2f2f2 80%, #f2f2f2); border-bottom: 4px solid #5579ac; margin: -20px -40px -40px -40px; padding: 20px 40px 60px 40px; }
.quiz_subject + h3 { background-color: white; padding: 10px 30px; display: inline-block; font-size: 1.5em; margin-bottom: 20px; }

.quiz_add_subject li { display: table; width: 100%; margin: 20px 0; }

.radioholder { width: 100%; font-size: 1.3em; height: 3.6em; color: #666666; -webkit-transition: 0.1s ease-out; -moz-transition: 0.1s ease-out; -o-transition: 0.1s ease-out; transition: 0.1s ease-out; cursor: pointer; }

.activeradioholder { background: #6390d1; color: white; }

.radioholder .tick { display: inline-block; vertical-align: middle; width: 3.6em; height: 100%; background-color: #e6e6e6; background-image: none; -webkit-transition: 0.1s ease-out; -moz-transition: 0.1s ease-out; -o-transition: 0.1s ease-out; transition: 0.1s ease-out; }
.radioholder b { display: inline-block; vertical-align: middle; padding-left: 0.6em; height: 3.6em; line-height: 3.6em; }
.radioholder input { display: none; }

.activeradioholder .tick { background-color: #3c74c5; background-image: url(../images/radio_tick.png); background-size: cover; }

.radioholder:nth-child(odd) { float: right; }
.radioholder:nth-child(even) { float: left; }
.radioholder:hover { background-color: #e6e6e6; }
.radioholder:hover .tick { background-color: #d9d9d9; }

.activeradioholder:hover { background-color: #6390d1; }
.activeradioholder:hover .tick { background-color: #3c74c5; }

.selectholder { clear: both; width: 100%; background: #e6e6e6; font-size: 1.3em; height: 3.6em; color: #666666; -webkit-transition: 0.1s ease-out; -moz-transition: 0.1s ease-out; -o-transition: 0.1s ease-out; transition: 0.1s ease-out; cursor: pointer; }
.selectholder .desc { display: inline-block; vertical-align: middle; padding-left: 0.8em; line-height: 3.6em; }
.selectholder .pulldown { float: right; vertical-align: middle; width: 3.6em; height: 100%; background-color: #d9d9d9; background-image: url(../images/pulldown.png); background-size: cover; -webkit-transition: 0.1s ease-out; -moz-transition: 0.1s ease-out; -o-transition: 0.1s ease-out; transition: 0.1s ease-out; }
.selectholder:hover { background-color: #d9d9d9; }

.activeselectholder { background-color: #d9d9d9; }

.selectholder:hover .pulldown, .activeselectholder .pulldown { background-color: #333333; background-image: url(../images/pulldown_hover.png); }

.selectholder .selectdropdown { z-index: 999; position: relative; top: 0; left: 0; background: #333333; color: white; display: none; clear: both; }
.selectholder .selectdropdown span { display: block; border-bottom: solid 1px #595959; padding-left: 0.8em; line-height: 3.6em; -webkit-transition: background-color 0.1s ease-out; -moz-transition: background-color 0.1s ease-out; -o-transition: background-color 0.1s ease-out; transition: background-color 0.1s ease-out; }
.selectholder .selectdropdown span:last-child { border-bottom: none; }
.selectholder .selectdropdown span.active { background-color: #6390d1; background-image: url(../images/radio_tick.png); background-repeat: no-repeat; background-size: 1.6em 1.6em; background-position: 98% 50%; }
.selectholder .selectdropdown span:hover { background-color: #3c74c5; }
