#cont.cf
	ol
		li
			-5.times do
				.cont_tab2
					.pd2040
						p.pd2020
							=zh_lorem_paragraphs 2 
						ol.upper-alpha.pd2020
							li
								=zh_lorem_sentences 1
							li
								=zh_lorem_sentences 1
							li
								=zh_lorem_sentences 1
							li
								=zh_lorem_sentences 1