/* 00 global */
body,h1,h2,h3,h4,ul,ol,li,dl,dt,dd,div,p,em,form,select,option,input,button,img{margin:0;padding:0}
body{font:12px/1.6em Helvetica, Verdana, Arial;letter-spacing:.1em}
ul,ol,li{list-style:none}
a{text-decoration:none;color:#333}
a:hover{color:#e76060;text-decoration:underline}
img{background:#fff url('../images/loading.gif') no-repeat 50% 50%}
img,select,input,button{border:0;outline:none}
em{font-style:normal}

#head,#menu_bar,#cont,#foot{width:1000px;margin:0 auto}
#menu,#books,#hot,#reco,#download,#browsers,#help_library,#help_cloud,#foot{width:800px}
#menu_area,#cont h2,.icon01,.icon02,.icon03,.icon04,.icon05,.icon06,.icon07,.icon08,.icon09,.icon10,.icon11,.icon12,.icon13,.icon14,#news a,#loginForm1 h2{height:40px;line-height:43px}
#menu_area,.lang,#cont h2,.backtop,.pager li.current a,#book_case th,#loginForm1 h2,.quizs_rl_tb th,#type,#news{background:url('../images/bg_header.png') 0 0}
.sltbox,#news a,.titles,
.date,#book_detail h3,#book_detail dt,#book_detail dd,#book_case .date01{overflow:hidden}
.clearb{clear:both}
.fixed{position:fixed;top:0;z-index:2}
.backtop{width:60px;line-height:40px;text-align:center;color:#7a4c1f;position:fixed;bottom:110px;right:0;cursor:pointer}
.board{float:left;width:790px;padding-left:18px;background:url('../images/board.png') repeat-y 50% 168px}
.mgt-10{margin-top:10px}
.fl-r{float:right}

h2{box-shadow:0 1px 3px #b59c7e}

/* border-radius */
h2,#type,#banner img,#news,
.btn01,.btn02,.btn03,
#download .col_2,#browsers .col_4{border-radius:5px}
#side h2,#news h2{border-radius:5px 5px 0 0}
.backtop{border-radius:5px 0 0 5px}
a.lang{border-radius: 0 0 5px 5px}

/* 01 head */
#head_area{height:80px}
	#logo{text-indent:-9999px}
	#logo a{width:260px;height:60px;margin:10px;background:url('../images/logo.png') no-repeat 0 0}
	
	/* nav */
	#head_nav{width:700px;float:right}
	#head_nav ul{float:right}
	#head_nav li{padding:0 0 0 5px;line-height:25px}
		a.lang{width:25px;height:25px}
		a.lang img{vertical-align:text-bottom;background:none}

/* 02menu */
#menu_area{width:100%;box-shadow:0 5px 6px #777}
	#menu li{width:25%}
	#menu a{height:38px;margin-top:2px;border-right:1px solid #e0aa41;font-size:16px}

	/* search */
	#searchbox{width:200px}
		.sltbox,.search_slt,.search,.search_btn{height:30px;line-height:30px}
		.sltbox,.search{border-radius:5px;box-shadow:inset 0 1px 3px #b59c7e;background:url('../images/bg_header2.png') no-repeat 50% 50%}
		.sltbox{width:64px;margin:5px 0 5px 1px}
		.search_slt{width:100px;background:url('../images/arrow_b2.gif') no-repeat 50% 50%}
		.search{width:100px;outline:none;margin:5px 0 5px 5px;text-indent:5px;color:#7a4c1f}
		.search_btn{width:30px;background:url('../images/search.png') no-repeat 50% 50%;margin:5px 0}

/* 03 cont */
#cont_area{background:url('../images/bg01.jpg') 0 0 fixed;clear:both}/*#cde3ff*/

	#menu,h2,h3,.quiz_h_c1,.q_dh_title{font-family:Helvetica,Verdana,Arial,"微軟正黑體","Microsoft Jhenghei"}
	#cont{word-break:break-all;padding:20px 0}
	h2{font-size:16px;background-position:0 -160px}
		
		/* icon */
		.icon01,.icon02,.icon03,.icon04,.icon05,.icon06,.icon07,.icon08,.icon09,.icon10,.icon11,.icon12,.icon13,.icon14{background:url('../images/icon.png') no-repeat 50% 10px;width:40px}
		.icon02{background-position: 50% -46px}
		.icon03{background-position: 50% -103px}
		.icon04{background-position: 50% -160px}
		.icon05{background-position: 50% -215px}
		.icon06{background-position: 50% -270px}
		.icon07{background-position: 50% -327px}
		.icon08{background-position: 50% -382px}
		.icon09{background-position: 50% -438px}
		.icon10{background-position: 50% -496px}
		.icon11{background-position: 50% -552px}
		.icon12{background-position: 50% -606px}
		.icon13{background-position: 50% -661px}
		.icon14{background-position: 50% -722px}
	
	/* side */
	#side {width:200px}
		#side li:nth-child(even){background-color:#f8e3cb}

		/* type */
		#type,#news{background-position:0 bottom;padding-bottom:5px}
		#type li{text-indent:40px}
		#type a{background:url('../images/arrow.gif') no-repeat 20px 0px}
		#type a:hover{background-position:20px -41px}
		
		/* news */
		#news{margin-bottom:10px}
		#news li{width:100%;padding:6px 0}
		#news a{margin:0 10px 0 40px;line-height:1.6em}

		/* no_icon */
		.no01,.no02,.no03,.no04,.no05,.no06,.no07,.no08,.no09,.no10{background:url('../images/news_no.gif') no-repeat 0 -15px}
		.no02{background-position:0 -75px}
		.no03{background-position:0 -135px}
		.no04{background-position:0 -195px}
		.no05{background-position:0 -255px}
		.no06{background-position:0 -315px}
		.no07{background-position:0 -375px}
		.no08{background-position:0 -435px}
		.no09{background-position:0 -495px}
		.no10{background-position:0 -555px}

	/* books */
	#books h2{margin-left:10px}

		/* share_style */
		#logo a,#head_nav li,#menu_area,#menu,#menu li,#searchbox,.sltbox,.search,.search_btn,#side,
		.icon01,.icon02,.icon03,.icon04,.icon05,.icon06,.icon07,.icon08,.icon09,.icon10,.icon11,.icon12,.icon13,.icon14,
		#news,#news li,#news a,#books,#hot,#reco,#download,#browsers,.col_1,.col_2,.col_4,.col_5,.col_6,#help_cloud,
		.pager li,.pager .sltbox,.tabs,.d_tabs li,.d_cont,
		#book_detail dl,#book_detail .col_1 img,#book_detail .col_1 h3,#book_detail dt,#book_detail dd,#book_detail .bd_bt{float:left}
		a.lang,#menu a,#type a,.btn01,.btn02,.btn03,
		.col_6:hover .borrow,.col_6:hover .date01,.titles,
		.pager a,.d_tabs a,.quiz_h_c1 span{display:block}
		#menu_area,h2,#cont h3,#type li{line-height:40px}
		a.lang,#menu,.col_2,.col_4,.col_5,.col_6,.borrow,.btn01,.btn02,.btn03,.quiz_h_description a{text-align:center}

		#type,#hot,#reco{margin-bottom:10px}
		.col_1,.col_2,.col_4,.col_5{margin:10px 0 0 10px}
		#browsers img{margin:30px 0}
		#browsers h2,#help_cloud h2{margin-top:10px}
		#use li,#about li,#help_library li,#help_cloud li{margin:0 0 10px 20px;list-style-type:decimal}

		h2,a.lang,#menu a{color:#7a4c1f}
		#hot .titles,h3,#client_book .titles,.btn01,a.btn01,.pager a,
		.q_cont em,.quiz_h_description em,#quizs ol > li{color:#7a4c1f}
		#reco .titles,#reco a.borrow,.quiz_h_description a{color:#00333e}

		/* btn */
		.btn01{border:0;border-radius:0 0 5px 5px;padding:8px 0;background:#f8e3cb}
		.btn02,.btn03{width:100px;height:30px;line-height:32px;border:1px solid #876a41;}
		.btn02{background:url('../images/bg_header2.png') 50% 0}
		.btn03{background:url('../images/bg_header.png') 50% 0}

		.search,.col_2,.col_4,.col_5{background-color:#fff}
		.col_1,#side li,.btn01,.pager a{background-color:#fff4e2}
		.pager a:hover,input.btn01:hover{background-color:#f4dcb2}
		.quiz_h_description a{background-color:#f8e3cb}
		.quiz_h_description a:hover{background-color:#94d5d8}
		.reserve{font-size:18px;line-height:14px;padding-right:3px}

		/* col */
		.col_6{position:relative}
		.cover,.borrow,.date01{position:absolute}
		.col_1,.col_5{border-bottom:1px solid #fff}
		.col_1{width:710px;padding:20px 40px;border-radius:5px}
		.col_1 p{margin-bottom:20px}
		.col_2{width:390px}
		.col_4{width:190px}
		.col_5{width:150px}
		.col_5 p{padding:0 10px}
		.col_6{width:126px;height:240px}
		.col_6 img{width:100px}
		.col_6 p{padding:0 10px}
		.col_6 .borrow{left:13px;bottom:32px;width:102px;height:31px;background:url('../images/borrow.png') no-repeat 0 0}
		.date01{left:0;top:-14px;width:102px;padding:0;letter-spacing:0;line-height:14px;color:#e76060}
		.cover{top:48px;left:-2px;width:130px;height:146px;background:url('../images/cover.png') no-repeat 0 0}
		.titles{height:40px;margin-bottom:10px}
		.borrow,.date01{display:none}
		.borrow{height:43px;line-height:36px;margin-top:9px}

		/* pager */
		.pager{float:right}
		.pager ul{float:left}
		.pager li{margin:10px 10px 0 0}
		.pager a{width:30px;height:30px;box-shadow:inset 0 1px 3px #b59c7e;border-radius:5px;line-height:30px;text-align:center}
		.pager li.current a{color:#fff}
		.pager .sltbox{margin-top:10px}
		.pager .prev a,.pager .next a{width:50px;background-color:#f8e3cb}

		/* tabs */
		.tabs{width:100%;margin-top:80px}
		.d_cont{width:100%;padding:40px 0 10px 0}
		.d_tabs li{box-shadow: 0 1px 5px #a6783d;border:1px solid #f4dfad;border-right-color:#99632e;border-bottom-color:#d2a352;background:url('../images/bg_header2.png') 0 0}
		.d_tabs a{width:120px;height:40px;color:#ab7b48;line-height:40px;text-align:center}
		.d_cont li#d_tab2 ol li{margin-left:24px;list-style:decimal}
		.d_tabs li.active{border:1px solid #99632e;border-bottom-color:#f6e2b7;background:url('../images/bg_footer.png') 0 0}
		.d_tabs li.active a{box-shadow:inset 0 2px 6px #a5773c;color:#7a4c1f}
		.d_tabs li:first-child{border-radius:5px 0 0 5px}
		.d_tabs li:last-child{border-radius:0 5px 5px 0;border-right-color:#b7916c}

		/* download */
		#download img,#browsers img{background-image:none}

		/* book_detail */
		#book_detail .col_1{position:relative;padding:40px}
		#book_detail .cover{top:38px;left:24px}
		#book_detail dt,#book_detail dd{margin-bottom:1px;height:20px}
		#book_detail h3{font-size:20px;line-height:1.3em;width:550px;height:55px;margin-left:10px}
		#book_detail dl{width:470px;margin-left:10px}
		#book_detail dt{width:89px;padding-right:10px;border-right:1px solid #fcdddd;text-align:right;color:#e76060}
		#book_detail dd{width:350px;padding:0 10px}
		#book_detail .btn02,#book_detail .btn03{margin-bottom:10px;padding:0}

		/* book_case */
		#book_case .d_cont{padding:0;width:800px;border:0}
		#book_case .d_tabs{margin-left:10px}
		#book_case .board{width:790px;margin-top:40px}
		#book_case .tabs{margin-top:0}
		#book_case .col_1{width:730px;padding:20px 30px 30px 30px;margin-top:10px}
		#book_case .col_1 em{padding-right:10px;margin-right:10px;border-right:1px solid #fcdddd;color:#e76060;font-style:normal}
		#book_case .btn01{margin-top:9px}
		#book_case #d_tab3{width:790px;margin-left:10px}
		#book_case #d_tab3 img{height:40px;vertical-align:middle}
		#book_case table{text-align:center;margin-top:10px}
		#book_case tr{height:40px;background-color:#fff4e2}
		#book_case tr:nth-child(even){background:#f8e3cb}
		#book_case tr:hover{color:#e76060}
		#book_case th{color:#7a4c1f}

		/* login */
		#loginForm1{width:600px;height:380px}
		#loginForm1 ul{height:180px;padding:20px 40px;margin-top:10px;color:#e76060}
		#loginForm1 li{margin-bottom:10px}
		#loginForm1 img{height:32px;vertical-align:top;margin-left:10px}
		#loginForm1 input{height:30px;line-height:30px;margin-left:7px;border:1px solid #ddd;text-indent:10px}
		#loginForm1 .btn01,#loginForm1 .btn02{width:100px;text-indent:0;line-height:20px;border-color:#876a41;float:right;margin:0 0 0 10px;cursor:pointer}
		#loginForm1 .note{line-height:30px;background-color:#fcdddd;text-align:center}
		#loginForm1 .fixbtn{position:fixed;bottom:0;right:0}

		/* newsbox */
		#newsbox{width:400px;display:none}
		
		/* alertbox */
		#alertbox{display:none;color:#5b2600}
		#alertbox h2{font-size:1.29em;padding:1em;background-color:#4796C3}

		/* quiz */
		#menu_area.quiz_h{height:auto;line-height:normal;background:url('../images/bg_footer.png') 0 0}
		#menu_area.quiz_h h2{box-shadow:none;line-height:30px}
		.quiz_h_c1,.quiz_h_c2{float:left}
		.quiz_h_c1 span,.quiz_h_description em,.q_cont em,.quizs_rl_tb caption em,.q_dh_title,.q_dh_cont em{font-size:16px}
		.quiz_h_c1{width:14.8%;margin-top:2px;border-right:1px solid #e0aa41;color:#7a4c1f;background:url('../images/quiz.png') no-repeat 18px 50%}
		.quiz_h_c1 span{margin:25px 0;text-align:center}
		.quiz_h_c2{width:83%;padding:0.6% 0 0 2%}
		.quiz_h_title span{margin-left:20px;font-size:12px}
		.quiz_h_description{color:#7a4c1f}
		.quiz_h_description em,.q_cont em,.q_dh_cont em{margin:0 5px;padding:2px 14px;border-radius:3px;background-color:#fff;box-shadow:inset 0 1px 1px #aaa}
		.quiz_h_description a{float:right;position:relative;top:-8px}

		#quizs{background-color:#fff;padding:40px}
		#quizs ol > li,#quizs ul > li,.q_topic{float:left}
		#quizs ol > li,#quizs ul > li{width:97%}
		#quizs ol > li{padding:0 0 40px 40px;list-style:decimal;list-style-position:inside}
		#quizs ol h3{line-height:1.6em;display:inline}
		#quizs ul{margin-top:15px}
		#quizs ul > li{margin:0 0 20px 18px;color:#666}
		#quizs ul li span{float:left;width:30px;margin-right:10px;border:1px solid #ccc;border-radius:50%;cursor:pointer;text-align:center;line-height:30px}
		#quizs .q_pic img{margin-right:5px}
		#quizs .q_topic{width:94%}
		#quizs ul .choose span{color:#fff;background-color:#f29b76;border-color:#f29b76}
		#quizs ul p{padding:6px 0}

		#quizs.quizs_ans .ans{position:relative}
		#quizs.quizs_ans .ans em{position:absolute;top:6px;left:-46px;color:#88c997}
		#quizs.quizs_ans .ans span{color:#fff;border-color:#88c997;background-color:#88c997}
		#quizs.quizs_ans .wrong{background:url('../images/q_ans02.png') no-repeat 0 0}

		/* box_quizs */
		.box_quizs{width:600px}
		.box_quizs h2{background:url('../images/bg_header.png') 0 0}
		.box_quizs .q_cont{margin:40px}
		.box_quizs .q_btn input{float:right;margin-left:10px;line-height:normal;cursor:pointer}

		/* quiz_results_list */
		.q_sh_col1,.q_sh_col2,.q_sh_col3{float:left}
		.quizs_rl_tb tr,.q_sh,.q_dh{background-color:#fff4e2}
		.quizs_rl_tb tr:nth-child(even){background:#f8e3cb}

		.quizs_rl_tb {text-align:center;margin-top:10px}
		.quizs_rl_tb caption{text-align:left;margin:15px 0 5px 0}
		.quizs_rl_tb caption em{color:#e76060;margin:0 5px}
		.quizs_rl_tb tr{height:40px}
		.quizs_rl_tb tr:hover{color:#e76060}
		.quizs_rl_tb th{color:#7a4c1e}

		.q_sh,.q_dh{padding:20px 40px}
		.q_sh_col1{width:17%;line-height:38px;text-align:right}
		.q_sh_col2{width:42%;padding-left:10px}
		.q_sh_col2 input{width:94%;height:34px;border:1px solid #ddd;padding-left:10px}
		.q_sh_col3 input{cursor:pointer;padding:0;height:30px;line-height:normal}

		/* quiz_results_detail */
		.quizs_rl_dh{margin-bottom:20px}
		.q_dh_title{margin-bottom:10px}
		.q_dh_title span,.q_dh_c2{margin-left:20px}
		.q_dh_title span{font-size:12px}
		.q_dh_cont em{color:#e76060}
		.q_dh_c3{float:right}

/* 04 foot */
#foot{padding:30px 0 30px 200px;background:url('../images/logo.png') no-repeat 0 60%;text-align:right}