caption
  //background: #f6f6f6 與現有cp樣式衝突先commit起來

.table
  td,
  th,
  td
    //border-color: #ccc 與現有cp樣式衝突先commit起來
    padding: .5em
    line-height: 1.75

.table_striped
  tbody tr:nth-child(odd)
    //th,
    td
      background: #f6f6f6