@import "compass"
$legacy-support-for-ie: true
//變數，設定
@import "syntax" 
//Mixin功能
@import "mixin" 
@import "forms"

@import "_admin_fancybox"
@import "_component_btn"

//Inline form


//Horizontal form
.control-group
  margin-bottom: 5px
  margin-top: 5px
  +clearfix
  
.control-label
  float: left
  width: 16%
  text-align: right
  padding-right: 10px

.controls
  padding-left: 10px
  margin-left: 17%
  border-left: 1px solid $labelLine

.masthead
  background-color: #bbb
  position: relative
  // border-bottom: 1px solid #999
  // +box-shadow(0 2px 5px rgba(0,0,0,.2))
  .cont
    padding: 20px 0
    position: relative
    &:before, &:after
      content: " "
      display: block
    &:after
      clear: both

.container
  background-color: #ddd
  padding: 30px


.masthead_head
  width: 10%
  float: left
  vertical-align: top
  &:before
    content: " "
    position: absolute
    //z-index: -1
    display: block
    top: 0
    bottom: 0
    left: 0
    width: 10%
    border-right: 1px solid #ddd

.masthead_title
  background: url(/admin/images/icon-edit.png) no-repeat
  height: 36px
  line-height: 36px
  padding-left: 40px
  color: #666

.masthead_content
  width: 90%
  float: left

.cont
  width: 1000px
  margin: 0 auto
// 合併進 > #head, #menu_bar, #cont, #foot

.masthead
  .control-label
    width: 9%
    line-height: 34px
  .controls
    margin-left: 10%
/* reset .control-label 與 .controls */

.a_btn_c2
  @extend %clearfix
.cont_tab4
  background-color: #FFF
// 合併進reset
textarea
  line-height: 30px
  border: 1px solid #ddd

.title
  float: none
  text-align: right
  clear: both

.pd2020
  padding: 20px
// temp
// override

%inline-block, .inline-block
  display: inline-block !important
  float: none !important
  +has-layout-zoom
  +has-layout-block
%i-b-block, .i-b-block
  +clearfix
  > *
    +inline-block
    vertical-align: bottom //因應頁面-新增題目是非題

textarea
  border: 1px solid #ddd !important
.a_b01, .a_b02
  line-height: 32px !important
.a_b02
  height: 32px !important
.sub_menu
  z-index: 999
ul.a_btn_c2 li
  display: inline-block !important
  float: none !important
  +has-layout-zoom
  +has-layout-block